/target/
/.classpath
/.settings/
/.classpath
/build.num
/.gitignore
/bin/
/.project
/.pydevproject
/.externalToolBuilders/
/maven-eclipse.xml

/install.sh
.idea/
aozan.iml

src/main/java/fr/ens/transcriptome/aozan/AozanDemo.java

